
	.nav{
		width: 100%;
		height: 265px;
		background: #f2f2f2;
		
	}
	.main1{
		width: 1200px;
		height: 265px;
		margin: 0 auto;
	}
	.navshang{
		
		height: 82px;
		
	}
	.navxia{
		
		height:183px;
	}
	.ss{
		width:100%;
		height: 63px;
		background: #000;
		line-height: 66px;
		font-size: 24px;
		font-family: 微软雅黑;
		color: white;
		font-weight: normal italic;
		
	}
	.main2{
		width: 1200px;
		height: 63px;
		margin: 0 auto;
		line-height: 63px;
	}
	.ss1{
		margin-right: 800px;
		float: left;
		margin-top: -12px;
	}
	.ss2{
		margin-left:0;
		
	}
	
	.nszuo{
		
		width: 150px;
		
		height: 35px;
	
		text-align: left;
		line-height: 35px;
		/*text-align: left;*/
		float: left;
		font-size: 18px;
		margin-top: 43px;
		color: #000;
	}
	.nsyou{
		
		width: 230px;
		height: 50px;
		float: right;
		font-family: 微软雅黑;
		background: #000;
		margin-top: 30px;
		margin-right:49px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		font-size: 24px;
	}
	.lonin{
		font-size: 18px;
		width: 120px;
		height: 35px;
		float: right;
		text-align: center;
		line-height: 35px;
		margin-top: 43px;
		color: #000;
		margin-right:0;
		/*background-image: url(../img/1_03.gif);*/
		/*background-position: right;
		background-repeat: no-repeat;*/
	}

	.navx{
		width: 171px;
		height: 183px;
		float: left;
		text-align: left;
		line-height: 183px;
		font-family: 微软雅黑;
		font-size: 24px;
		
	}
	.xia2{
		width: 171px;
		height: 183px;
		background-image: url(../img/1_07.jpg);
		background-repeat: no-repeat;
		/*margin:0  auto;*/
		margin-top: 10px;
	}
	.banner{
		width: 100%;
		height: 750px;
		background: #f2f2f2;
		background-image: url(../img/444.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 1920px auto;
		
		margin: 0 auto;
		/*position: relative;
		overflow: hidden;*/

		
	}
	.jijian{
		width: 100%;
		height: 235px;
		background: #f2f2f2;
		font-size: 34px;
		text-align: center;
		line-height: 235px;
		

	}
	.jjzy{
		width: 1200px;
		height: 235px;
		margin: 0 auto;
	}
	.jianbox{
		width: 100%;
		height: 1456px;
		background: #f2f2f2;
	
		

	}
	

	.xian{
		width: 202px;
		height: 3px;
		background: #b6b6b6;
		margin: 0 auto;
		float: left;
		
	}
	/*.z-xian{
		margin-left: 395px;
		margin-top: 33px;

	}*/
	.z-xian{
		margin-left: 395px;
		margin-top: -88px;

	}
	.y-xian{
		margin-left: 578px;
		margin-top: -72px;
		
	}


	.main3{
		width: 1200px;
		height: 853px;
		margin: 0 auto;
	}
	.jian{
		height: 827px;
		float: left;
	}
	.jianzuo{
		width: 276px;
		
		font-family: 微软雅黑;
		text-align: center;
		font-size: 14px;
		text-align: center;
	
	}
	.jianzuos{
		height: 400px;
		background: white;
		margin-bottom: 30px;
		position: relative;
	}
	.jzszhezhao{
		width:100%;
		height: 0;
		background: linear-gradient(#787777 70%,#000 30%);   
		opacity: 1;
		position: absolute;
		/*background:rgba(0,0,0,0);*/
	
		left: 0px;
		bottom: 0;
		z-index: 100;
		transition:height 0.5s;
		box-sizing:border-box;
		overflow: hidden;

	}
	.jianzuos:hover .jzszhezhao{
		
		height: 100%;
		/*transition:height 0.1s;*/
		opacity: 0.8;
		/*transform: scale(0.5,0.5);*/
		
		/*background:rgba(0,0,0,0.3);*/
		/*transform:rotate(180deg) scale(0.5,0.5);*/
		
		

	}
	.zzkuang{
		width: 236px;
		height: 80px;
		text-align: left;
		/*line-height: 80px;*/
		/*border-bottom: 1px solid #fff;*/
		z-index: 200;
		position: absolute;
		left: 19px;
		color: #fff;
		
		font-size: 24px;
		
		top: 80px;
		margin:0 auto;
		/*color: white;*/
		/*line-height: 40px;*/
	}
	.zzkuang a{
		color: white;
		font-size: 24px;
		font-family: 微软雅黑;

		position: absolute;
		top: 230px;
		left: 74px;
		
	}
	.zzkuang h1{
		color: white;
		font-size: 34px;
		font-family: 微软雅黑;

		position: absolute;
		top: 40px;
		left: 0px;
		
	}
	.xqxian{
		width: 210px;
		height: 2px;
		
		background: #fff;
		
		position: absolute;
		top: 280px;
		left: 17px;
	}

	.jianzuox{
		height: 400px;
		background: white;
	}
	.jianzhong{
		width: 588px;
		margin-left: 15px;
		margin-right: 15px;
		background: white;
		text-align: center;
		font-size: 14px;
		font-family: 微软雅黑;
	}
	.jianyou{
		width: 276px;
		text-align: center;
		font-size: 14px;
		font-family: 微软雅黑;
	}
	.jianyous{
		height: 400px;
		background: white;
		margin-bottom: 30px;
		
	}
	.jianyoux{
		height: 400px;
		background: white;
		
	}
	.main4{
		width: 1200px;
		height: 800px;
		background: #f2f2f2;
		background-image: url(../img/a_03.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		/*background-size: 1920px auto;*/
		margin: -100px auto;

	}
	.main5{
		width: 1200px;
		height: 1094px;
		background: #f2f2f2;
		margin: 0 auto;
	}

	
	.djxkbox{
		width: 100%;
		height: 235px;
		background: #f2f2f2;
		font-size: 34px;
		text-align: center;
		line-height: 235px;
		

	}
	.djxk{
		width: 1200px;
		height: 235px;
		margin: 0 auto;
	}
	.kuanbox{
		height: 1194px;
		background: #f2f2f2;

		
	}
	.sex1{
		width: 1200px;
		height: 55px;
		margin: 0 auto;
		font-size: 24px;
		font-family: 微软雅黑;
	}
	.sex{
		width: 1200px;
		height: 310px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 12px;
		font-family: 微软雅黑;
		text-align: center;

	}
	.sx{
		width: 216px;
		height: 310px;
		background: white;
		float: left;
		margin-right: 30px;
	}
	.sx5{
		margin-right: 0;
		margin-bottom: 30px;
	}
	.sx10{
		margin-right: 0;
		margin-bottom: 30px;
	}
	.sx15{
		margin-right: 0;
		margin-bottom: 30px;
	}
	.qszybox{
		width: 100%;
		height: 235px;
		background: #f2f2f2;
	
		font-size: 34px;
		
		text-align: center;
		line-height: 235px;
		

	}
	.qszy{
		width: 1200px;
		height: 235px;
		margin: 0 auto;
	}
	.qsbigbox{
		width: 100%;
		
		background: #f2f2f2;
	}
	.qsbox{
		width: 1200px;
		height: 754px;
		margin:0 auto;
		position: relative;
		
	}
	.qsshang{
		height: 363px;
	
	}
	.qsxia{
		height: 363px;
		margin-top: 30px;
	}
	.qs{
		width: 362px;
		float: left;
		font-family: Arial, 微软雅黑;
		font-size: 18px;
		

		
	}
	.qs1{
		width: 444px;
		
		margin-right: 80px;

	}
	.qs5{
		background: #f2f2f2;
	}
	.qs2 {
		margin-left: 466px;
	}
	.qs3 {
		margin-left: 10px;
	}
	.qs4 {
		margin-right:405px;
		margin-left:71px;
	}
	.qs11{
		width: 375px;
		height: 101px;
		background:rgba(0,0,0,0.1);
		position: absolute;

	}
	.qs11shang{
		
		margin-right: 20px;
		
	}
	.qs11zhong{
		top:200px;
		left: 60px;
	}

	.h11{

		position: absolute;
		top: 40px;
		left: 20px;

	}
	.h12 {
		position: absolute;
		top: 80px;
		left: 20px;

	}
	.h13{
		position: absolute;
		top: 120px;
		left: 20px;

	}
	.qs11xia1{
		width: 1048px;
		height: 12px;
		position: absolute;
		background:#dcdcdc;
	}
	
	.qs11xia11{
		top: 372px;
		left: 153px;
	}
	.qs11xia12{
		position: absolute;
		top: 762px;
		left: 0;
	}
	.qs11xia2{
		width: 12px;
		height:640px;
		background:#dcdcdc;
		position: absolute;
		
		left: 813px;
	}
	.qs11xia3{
		width: 12px;
		height:470px;
		background:#dcdcdc;
		position: absolute;
		top: 203px;
		left: 403px;
	}
	.qs12{
		width: 142px;
		height:3px;
		background:#8e8e8e;
		position: absolute;
	}
	.qs11xia41{
		background:#000;
		top: 590px;
		left: 351px;
	}
	.qs11xia42{
		
		top: 290px;
		left: 66px;
	}
	.qs p{
		left: 350px;
		top: 550px;
		position: absolute;
		font-size: 22px;

	}
	.qs span{
		
		position: absolute;
		font-size: 22px;
		left: 65px;
		top: 230px;
		color: #8e8e8e;

	}
	.anniu{
		width: 234px;
		height: 60px;
		border: 1px solid #000;
		/*border-radius: 8px;*/
		position: absolute;
		left: 550px;
		top: 621px;
		font-size: 24px;
		font-family: 微软雅黑;
		color: #e0884e;
		font-weight: normal italic;
		line-height: 60px;
		text-align: center;
		

	}
	.anniu:hover{
		border: 1px solid #666;
		cursor: pointer;
		background: #666;
		transition:all 0.5s ease;
		color: white;
		

		

		/*text-transform: uppercase;文本变换*/
	}
	.qs11shang2{
		width: 77px;
		height: 403px;
		position: absolute;
		background:#f2f2f2; 
		background-image: url(../img/5_17.jpg);
		background-repeat: no-repeat;
		background-position: left top;
		top: 370px;
		left: 0px;
	}
	.footerbox{
		height: 775px;
		background: #f2f2f2;
	}
	.footer{
		width: 1200px;
		height: 775px;
		margin: 0 auto;
		
		
		}
	.footers{
		margin: 0 auto;
	}
	.footer0{
		width: 100%;
		height: 3px;
		background: #777;
	}		
	.footer1{
		width: 160px;
		height: 174px;
		background-image: url(../img/1_07.jpg);
		background-repeat: no-repeat;
		background-position: center bottom;
		
	}
	.footer2{
		width: 267px;
		height: 46px;
		float: left;
		margin-left: 551px; 
		margin-top: 26px;
	}
	.fxian{
		width: 102px;
		height: 3px;
		background: #777;
		float: left;
		
	}
	.fzxian{
	margin-left: -114px;
	margin-top: 38px;
	}
	.fyxian{
	margin-left: 40px;
	margin-top: -5px;
	}
	.footer4{
		width: 1200px;
		height: 14px;
		margin-top: 128px;
		font-size: 19px;
	}
	.footer5{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer6{
		width: 570px;
		height: 12px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 95px;
		text-align: justify;
	}
	.footer7{
		width: 550px;
		height: 12px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 95px;
	}
	.footer8{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer9{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer10{
		width: 156px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-right: 0;
	}
	.footer11{
		width: 234px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-right: 0;
	}
	.aboutbox{
		width: 100%;
		height: 610px;
		background:#f2f2f2;
	}
	.about{
		width: 1200px;
		margin: 0 auto;
	
	}

	.guanyu{
		height: 235px;

		
	}
	.about2{
		height: 72px;
		text-align: center;
		line-height: 56px;
	}
	.aboutxian{
		height: 1px;
		background:#8a8a8a;
	}
	.xxian{
		margin-top: 67px;
	}
	.about2zhong{
		width: 252px;
		height: 56px;
		font-size: 14px;
		float: left;
	}
	.about2zhong2{
		width: 213px;
		margin-left:500px;
		margin-right: 50px;
		font-size: 12px;
	}
	.about2zhong1{
	
		margin-left:12px;
	
		
	}
	.shuru{
		margin-top: 5px;
		width: 160px;
	}
	.kuangxian{
		height: 1px;
		background: #8a8a8a;
		margin-top: 38px;
	}
	.shuru input{
	
		width: 160px;
		height: 38px;
		
		background: #f2f2f2;
		border: 0;
		background-image: url(../img/ss_03.jpg);
		background-repeat: no-repeat;
		background-position: right center;
		float: left;

	}
	.about3{
		width: 1200px;
		height: 158px;
		margin-top: 36px;
	}
	.about4{
		width: 1200px;
		height: 66px;
		text-align: center;
		
	}

	p{
		width: 246px;
		height: 158px;
		margin-right: 36px;
		float: left;
		line-height: 27px;
		font-size: 14px;

	}
	.gyus{
		width: 208px;
		
		text-align: center;
		line-height: 244px;
		margin: 0 auto;
		font-size: 34px;

	}
	.gzxian{
		margin-left: 395px;
		margin-top: -88px;

	}
	.gyxian{
		margin-left: 578px;
		margin-top: -72px;
		
	}
