	.nav{
		width: 100%;
		height: 265px;
		background: #f2f2f2;
		
	}
	.main1{
		width: 1200px;
		height: 265px;
		margin: 0 auto;
	}
	.navshang{
		
		height: 82px;
		
	}
	.navxia{
		
		height:183px;
	}
	.ss{
		width:100%;
		height: 63px;
		background: #000;
		line-height: 66px;
		font-size: 24px;
		font-family: 微软雅黑;
		color: white;
		font-weight: normal italic;
		
	}
	.main2{
		width: 1200px;
		height: 63px;
		margin: 0 auto;
		line-height: 63px;
	}
	.ss1{
		margin-right: 800px;
		float: left;
		margin-top: -12px;
	}
	.ss2{
		margin-left:0;
		
	}
	
	.nszuo{
		
		width: 150px;
		
		height: 35px;
	
		text-align: left;
		line-height: 35px;
		/*text-align: left;*/
		float: left;
		font-size: 18px;
		margin-top: 43px;
		color: #000;
	}
	.nsyou{
		
		width: 230px;
		height: 50px;
		float: right;
		font-family: 微软雅黑;
		background: #000;
		margin-top: 30px;
		margin-right:35px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		font-size: 24px;
	}
	.lonin{
		font-size: 18px;
		width: 142px;
		height: 35px;
		float: right;
		text-align: center;
		line-height: 35px;
		margin-top: 43px;
		color: #000;
		margin-right:0;
		/*background-image: url(../img/1_03.gif);*/
		/*background-position: right;
		background-repeat: no-repeat;*/
	}

	.navx{
		width: 171px;
		height: 183px;
		float: left;
		text-align: left;
		line-height: 183px;
		font-family: 微软雅黑;
		font-size: 24px;
		
	}
	.xia2{
		width: 171px;
		height: 183px;
		background-image: url(../img/1_07.jpg);
		background-repeat: no-repeat;
		/*margin:0  auto;*/
		margin-top: 10px;
	}

	.footerbox{
		height: 775px;
		background: #f2f2f2;
	}
	.footer{
		width: 1200px;
		height: 775px;
		margin: 0 auto;
		
		
		}
	.footers{
		margin: 0 auto;
	}
	.footer0{
		width: 100%;
		height: 3px;
		background: #777;
	}		
	.footer1{
		width: 160px;
		height: 174px;
		background-image: url(../img/1_07.jpg);
		background-repeat: no-repeat;
		background-position: center bottom;
		
	}
	.footer2{
		width: 267px;
		height: 46px;
		float: left;
		margin-left: 551px; 
		margin-top: 26px;
	}
	.fxian{
		width: 102px;
		height: 3px;
		background: #777;
		float: left;
		
	}
	.fzxian{
	margin-left: -114px;
	margin-top: 38px;
	}
	.fyxian{
	margin-left: 40px;
	margin-top: -5px;
	}
	.footer4{
		width: 1200px;
		height: 14px;
		margin-top: 128px;
		font-size: 19px;
	}
	.footer5{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer6{
		width: 570px;
		height: 12px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 95px;
		text-align: justify;
	}
	.footer7{
		width: 550px;
		height: 12px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 95px;
	}
	.footer8{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer9{
		width: 682px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-left: 0;
	}
	.footer10{
		width: 156px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-right: 0;
	}
	.footer11{
		width: 234px;
		height: 14px;
		margin-top: 30px;
		font-size: 18px;
		margin-right: 0;
	}
	.xiangqingbox{
		width: 100%;
		height: 100%;
		background: #f2f2f2;
	}

	.kongbai{
		width: 100%;
		height: 73px;
		background: #f2f2f2;
	}

	.xiangqing{
		width: 1200px;
		/*height: 623px;*/
		height: 5825px;
		margin: 0 auto;
		/*margin-top: 73px;*/

	}
	.lan1{
		float: left;
		height: 558px;
	}
	.tu1{
		width: 425px;
		height: 425px;
		overflow: hidden;
		margin-right: 23px;
	}
	.tu2{
		height: 63px;
	}
	.tu22{
		width: 60px;
		height: 63px;
		float: left;
		margin-right: 18px;
		margin-top: 22px;
		margin-bottom: 24px;
	}
	.tu3{
		
		height: 20px;
		
	}
	.tu33{
		float: left;
	}
	.tu331{
		margin-right: 25px;
	}
	.tu332{
		margin-right: 8px;
	}
	.tu3 img{
		float: left;
		margin-right: 10px;
	}
	.tu333a{
		margin-top: 2px;
	}
	.tu333b{
		margin-top: 1px;
	}
	.neirong{
		width: 506px;


		
	}
	.neirong img{
		float: left;
		margin-right: 10px;
	}
	.biaoti{
		width: 450px;
		height: 75px;
		line-height: 18px;
		text-align: left;
		font-size: 16px;
		font-style: normal italic;
		/*font-family: 微软雅黑;*/
		

	}
	.dianpu{
		width:220px;
		margin-left: 24px;
	}
	.logo1{
		width: 104px;
		height: 152px;

	}
	.neirong p{
		line-height: 16px;
	}
	.h22{
		font-size: 30px;
		color: #ee435b;
	}
	.ii{
		font-size: 14px;
		color: #797878;
	}
	.au{

		height: 40px;
		float: left;
		border-radius: 4px ;
		border: 1px solid #ee435b;
		text-align: center;
		line-height: 40px;
		margin-bottom: 40px;
		margin-top: 6px;

	}
	.anniu1{
		width: 130px;
		margin-right: 6px;
		color: #ee435b;
		color: #fff;
	}
	.anniu2{
		width: 170px;
		background: #ee435b;
		color: white;
		margin-right: 183px;
	}
	.chengnuo{
		width: 506px;
	}
	.dianpu p{
		font-size: 14px;
		font-family: 微软雅黑;
	}
	.auu{
		width: 83px;
		height: 26px;
		float: left;
		border-radius: 4px ;
		border: 1px solid #cacbcc;
		background: #edf0f3;
		text-align: center;
		line-height: 26px;
		margin-bottom: 40px;
		margin-top: 6px;
		color: #828486;
		font-size: 12px;
	}
	.anniu3{
		
		margin-right: 6px;
		
	}
	.anniu4{
		
		margin-right: 40px;
		margin-bottom: 55px;

		
	}
	.xuanxiangka{
		width: 1200px;
		height: 60px;
		margin-bottom: 34px;
		/*margin-top: 100px;*/
		
		/*margin-right: 500px;*/
		/*border-bottom: 1px solid #969696;*/

	}
	.xuanxiang{
		width: 150px;
		float: left;
		border-bottom: 2px solid #969696;
		line-height: 60px;
		text-align:center;
		margin-top: 50px;
		
	}
	.baobeixq{
		border-bottom: 3px solid #ed425a;
	}
	.fuwu{
		width: 650px;
		text-align:left;

	}
	.xxmain{
		width: 780px;
		height: 204px;
		margin-bottom: 50px;

	}
	.xxmain p{
		float: left;
		line-height: 24px;
		font-size: 14px;
		margin-right: 18px;
	}
	.xqtu{
		margin-top: 50px;

	}
	.fengexian{
		float: left;
		width: 2px;
		height: 5800px;
		background: #000;
	}
	.shuliang{
		width: 93px;
		height: 26px;
		border: 1px solid #bfbfbf;
		margin-top: -24px;
		margin-left: 70px;
	}
	.sl{
		width: 20px;
		height: 26px;
		float: left;
		text-align: center;
		line-height: 26px;
		color: #808181;
	}
	.sl2{
		width: 51px;
		border-left: 1px solid #bfbfbf;
		border-right: 1px solid #bfbfbf;
		color: #000;
	
	}
	.shijian{
		line-height: 24px;
	}
	.kucun{
	
		margin-top: -24px;
		margin-left: 175px;
	}
	.mianbao{
		height: 38px;
		text-align: left;
		line-height: 38px;
		font-size: 14px;
		font-family: 微软雅黑;
		border-bottom: 1px solid #a8a8a8;
		
	}
	.mianbao span{
		color:#ee435b;
		font-size: 18px; 
	}
